<div class="container">
    <div class="header">
        <h5>Employee Details</h5>
        <div class="form-group">
             <input type="text" class="form-control" placeholder="Search here..." 
             [(ngModel)]="filter">
        </div>
        <a  [routerLink]="['employee']" class="btn btn-primary" style="float: right;margin-bottom:10px;" >Register New Employee</a>
    </div>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>EMPID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>PhoneNumber</th>
                <th>UserID</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employeeService.employees| filter:filter | paginate: {itemsPerPage:5, currentPage:page}" >
                <td (click)="populateForm(emp)">{{emp.EmpId}}</td>
                <td (click)="populateForm(emp)">{{emp.FirstName}}</td>
                <td (click)="populateForm(emp)">{{emp.LastName}}</td>
                <td (click)="populateForm(emp)">{{emp.Age}}</td>
                <td (click)="populateForm(emp)">{{emp.Gender}}</td>
                <td (click)="populateForm(emp)">{{emp.Address}}</td>
                <td (click)="populateForm(emp)">{{emp.PhoneNumber}}</td>
                <td (click)="populateForm(emp)">{{emp.UserId}}</td>
                <td>
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteEmployee(emp.EmpId)">X</button>&nbsp;
                    <button class="btn btn-sm btn-info" (click)="updateEmployee(emp.EmpId)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer">
        <!--pagination-->
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
</div>
