<div class="container">
    <div class="border">
        <h3>Login here..</h3>
        <hr>

        <!--Reactive Form-->
        <form [formGroup]="loginForm"  class="form-group"  (ngSubmit)="loginCredentials()">
           <!--Username-->
            <div>
                <input type="text" placeholder="Enter username" formControlName="UserName" autocomplete="off" required>
            </div>
            <div *ngIf="isSubmitted && formControls.UserName.errors">
                <div *ngIf="formControls.UserName.errors.required" style="color: red; text-align: left;">
                    UserName is required
                </div>
            </div>
            <br>

            <!--Password-->
            <div>
                <input type="password" placeholder="Enter password" formControlName="UserPassword" autocomplete="off" required>
            </div>
            <div *ngIf="isSubmitted && formControls.UserPassword.errors">
                <div *ngIf="formControls.UserPassword.errors.required" style="color: red; text-align: left;">
                   Password is required
                </div>
            </div>
            <br>
            <div>
                <button class="btn btn-md btn-outline-primary" (click)="loginCredentials()">
                    <i class="fa fa-sign-in">Login</i>
                </button>
                &nbsp;
                <button class="btn btn-md btn-outline-primary">
                    <i class="fa fa-sign-in">Test</i>
                </button>
            </div>
            <div *ngIf="error"
            style="color: red; text-align: left;">
            {{error}}
            </div>
            
        </form>
    </div>
</div>
